repos:
# Common, useful hooks. See here for more: https://pre-commit.com/hooks.html
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-added-large-files # Checks you haven't staged large files for Git
  - id: check-yaml # Checks YAML files are valid.
  - id: check-toml # Checks TOML files are valid.
  - id: debug-statements # Checks there aren't Python debugger statements lying around.
  - id: end-of-file-fixer # Make sure files are empty, or end with a newline.
  - id: trailing-whitespace # Removes trailing whitespace from files.
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.9.5
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
      name: Linting Python files using Ruff
      require_serial: true
      language: python
      types_or: [python]
    # Run the formatter.
    - id: ruff-format
      name: Formatting Python files using Ruff
      require_serial: true
      language: python
      types_or: [python]
{% if mypy -%}
- repo: local
  hooks:
# Static type-checking.
  - id: mypy
    name: mypy
    description: "Static type-checking of Python code."
    require_serial: true
    language: python
    types_or: [python, pyi]
    entry: uv run mypy src
    pass_filenames: false
    additional_dependencies: [pydantic]
    verbose: true
{% endif %}